batch-pro-api/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="call-custRiskChkRelay-pro-api" doc:id="79757b23-a4d0-49cd-84a3-1472ddcad0b1" >
		<logger level="INFO" doc:name="Start-custRiskChkRelay" doc:id="c9e1972a-29b2-428c-a309-9e2375e009af" message="Start-custRiskChkRelay"/>
		<set-payload value='#[{&#10;	"trs_id": uuid(),&#10;	"if_id": "DK_IF_E1009_CS001_MD001",&#10;	"if_nm": "고객 Risk 체크 전달",&#10;	"start_dtm": now()&#10;}]' doc:name="Set Call API payload" doc:id="7902e668-e761-4227-b2e6-4ffa01576bac" />
		<http:request method="GET" doc:name="Request" doc:id="865825f6-2a2b-4b07-9c27-b081daa0b1c2" config-ref="custRiskChk-pro-httpRequestConfig" path="/">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"version" : attributes.version
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="call-dbServer-sys-api" doc:id="3f2a49c3-0ffd-42c4-a444-7e01e7ee14c0" >
		<logger level="INFO" doc:name="Stert-dbServer-sys-api" doc:id="20cc8bf4-8a5d-4d8d-bbc2-01821779988a" message="#[payload]" />
		<http:request method="POST" doc:name="Request" doc:id="b48dc937-b3bb-4bf3-a009-a7d7b9d81f30" config-ref="dbServer-sys-httpRequestConfig" path="/batchLog"/>
		<logger level="INFO" doc:name="end-dbServer-sys-api" doc:id="46cd4569-5fea-421f-b776-d875e1ab5079" message="#[payload]" />
	</flow>
</mule>
