.tooling-apps-cache/app/db-server-sys-api/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getSidoSggCd" doc:id="85b8d8ea-a4a5-41f2-8c01-35fd4d01a31e" >
		<logger level="INFO" doc:name="Start of transaction" doc:id="135d6f71-43bf-4bee-89f7-2a365bb3d333" message="tart of transaction for transaction-id #[vars.transactionId]"/>
		<db:select doc:name="Select" doc:id="806d63c3-4339-488f-8600-89e21b7631b4" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from tb_m_sido_sgg_code]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="66c396be-b1a6-428b-862d-c18b11cbb237" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	resultStatus: "SUCCESS",
	resultMessages: "",
	sidoSggCd: payload map ( payload01 , indexOfPayload01 ) -> {
		sido_code: payload01.sido_code,
		sido_nm: payload01.sido_nm,
		sgg_code: payload01.sgg_code,
		sgg_nm: payload01.sgg_nm
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batchLog" doc:id="ab843540-e8f5-436c-9161-7ada4fdf28a0" >
		<logger level="INFO" doc:name="Start of transaction" doc:id="fd7a374f-b699-4583-9737-a7a7b1fe7fe7" message="tart of transaction for transaction-id #[vars.transactionId]"/>
		<ee:transform doc:name="BatchLog Insert Request Payload" doc:id="4279bbad-8f32-46ba-863f-d96e0936b695" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"trs_id" : payload.trs_id,
	"if_id" : payload.if_id,
	"start_dtm" : payload.start_dtm,
	"end_dtm" : payload.end_dtm,
	"if_method" : payload.responseStatus,
	"res_body" : payload.message	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5d760a6e-5413-403d-893b-147ae4d59070" message="#[payload]"/>
		<try doc:name="Insert into tb_m_interface_log" doc:id="5eecec72-21e8-4ad2-a4d5-ce581da31d74" >
			<db:insert doc:name="Insert" doc:id="c947c9dc-d68c-4f69-bf4e-56c858b73eeb" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO mulesoft.tb_m_interface_log(
trs_id,if_id,start_dtm,end_dtm,if_method,req_body,res_body,create_date)
VALUES
(:trs_id,:if_id,:start_dtm,:end_dtm,:if_method,:req_body,:res_body,NOW())]]></db:sql>
				<db:input-parameters ><![CDATA[#[{trs_id: payload.trs_id, if_id: payload.if_id, start_dtm: payload.start_dtm, end_dtm: payload.end_dtm, if_method: payload.if_method, req_body: payload.req_body, res_body: payload.res_body}]]]></db:input-parameters>
			</db:insert>
		</try>
		<choice doc:name="Check for insert success or failure???" doc:id="327a56b0-3096-4795-900e-851d0086fa73" >
			<when expression="isEmpty(vars.exceptionResponse)">
				<ee:transform doc:name="Transform Response Payload" doc:id="efc9e7e9-165c-4c72-b761-bc983b57a909" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"responseStatus": "SUCCESS",
	"resultMessages": "insert batchLog Success"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Error occured while inserting" doc:id="40c9d106-a088-4695-babe-2067521e4608" message="Error occured while inserting"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End of transaction" doc:id="ee3fb617-db27-4ece-8384-0a61e9f870ae" message="End of transaction for transaction-id #[vars.transactionId]" />
	</flow>
</mule>
